.Cards {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    border-radius: 25px;
    background-color: #f6f6f6;
    width: 100%;
    padding: 30px 30px;
    margin-bottom: 35px;
}